---
import Layout from '../layouts/Layout.astro';
import FirstView from '@modules/FirstView.astro';
import Project from '@modules/Project.astro';
import Title from '@modules/Title.astro';
import Portfolio from '@modules/Portfolio.astro';
import Shortbio from '@modules/Shortbio.astro';
import Photo from '@modules/Photo.astro';
import Contact from '@modules/Contact.astro';
import Header from '@modules/Header.astro';
import Bios from '@modules/Bios.astro';
import VideoContainer from '@modules/video/components/VideoContainer.jsx';
import LandscapeModal from '@modules/landscape/LandscapeModal.astro';

const Gallery3d = {
	id: 'gallery',
	title: "3D-GALLERY", 
	number: "01",
	app: "Facundo Meire's requirement",
	description: "Single Page App / React - Router - Three.js",
	mobileImage: "3dGallery_mobile.png",
	desktopImage: "3dGallery_desktop.png",
	demoURL: "https://richi-coder.github.io/3dGallery/",
	githubURL: "https://github.com/richi-coder/3dGallery"
}
const gameProps = {
	id: 'pics-game',
	title: "4PICS-1WORD",
	number: "04",
	app: "Web Game",
	description: "Multi Page App / React - Redux - Astro",
	mobileImage: "4pics_1word_mobile.png",
	desktopImage: "4pics_1word_desktop.png",
	demoURL: "https://pics-1word-6a8f0.web.app/",
	githubURL: "https://github.com/richi-coder/4pics-1word-richi-coder"
}
const ecommerceProps = {
	id: 'richi-shop',
	title: "RICHI-SHOP",
	number: "03",
	app: "Ecommerce Site",
	description: "Single Page App / React - Router - PWA",
	mobileImage: "richi_shop_mobile.png",
	desktopImage: "richi_shop_desktop.png",
	demoURL: "https://richi-shop.web.app/",
	githubURL: "https://github.com/richi-coder/richi-coder-portfolio"
}
const calculatorProps = {
	id: 'richi-calc',
	title: "RICHI-CALC",
	number: "02",
	app: "Web App",
	description: "Single Page App / React",
	mobileImage: "richiCalcMobile_Final.png",
	desktopImage: "richiCalcDesktop_Final.png",
	demoURL: "https://richi-coder.github.io/React-Calculator/",
	githubURL: "https://github.com/richi-coder/React-Calculator/tree/freecodecamp",
}
const streamingProps = {
	id: 'richi-trailers',  
	title: "RICHI-TRAILERS",
	number: "05",
	app: "Trailer Streaming App",
	description: "Multi Page App / Next JS - React",
	mobileImage: "richiTrailers_mobile.png",
	desktopImage: "richiTrailers_desktop.png",
	demoURL: "https://richi-trailers.vercel.app/",
	githubURL: "https://github.com/richi-coder/richiMovies",
}
---

<Layout title="index" >
	<main class="main">
		<Header />
		<FirstView />
		<Photo />
		<Shortbio id='shortbio' ownClass='h-[350vh] sm:h-[450vh]'>
			<div id='bio-title-container' class='w-full h-screen relative'>
				<Title id="shortbio-title" title="Bio" preTitle='richi' titleClass='absolute top-2/3 sm:top-3/4 text-6xl sm:text-9xl' />
			</div>
			<Bios />
		</Shortbio>
		
		<Portfolio>
			<img id='richi-tablet' src="/richicoder_tablet.png" alt="" class="mx-auto absolute top-0 left-1/2 -translate-x-1/2 -translate-y-full z-50 w-[70vw] max-w-xs h-auto sm:max-w-none sm:w-[550px] sm:h-[550px]" loading='lazy'>
			<div id='projects-title-container' class='w-full h-[25vh] relative'>
			<Title id="projects-title" title="Projects" preTitle='richi' titleClass='absolute top-3/4 sm:top-1/2 text-6xl sm:text-9xl' />
			</div>
			<Project projectDetails={Gallery3d} />
			<Project projectDetails={calculatorProps} />
			<Project projectDetails={ecommerceProps} />
			<Project projectDetails={gameProps} />
			<Project projectDetails={streamingProps} />
		</Portfolio>
		<Shortbio id='shortbio2' ownClass='h-[500vh]' />
		<VideoContainer client:only="react" />
		<Contact  />
		<LandscapeModal /> 
	</main>
</Layout>

<style>
	.main {
		margin: auto;
		padding: 0rem;
		overflow-x: clip;
		scroll-behavior: smooth;
		background-color: rgb(10,10,10);
	}
	
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>

<!-- ../modules/FirstView.astro../modules/Project.astro../modules/Title.astro../modules/Portfolio.astro../modules/Shortbio.astro../modules/Photo.astro../modules/Contact.astro../modules/Header.astro../modules/Bios.astro../modules/Video/VideoContainer.jsx../modules/Landscape/LandscapeModal.astro../modules/video/VideoContainer.jsx -->