---
import Bio from "./Bio.astro";
const { ids, titles, fontSize } = Astro.props;
---

<div class={`w-full h-[50vh] relative`}>
    <Bio bioId={ids[0]} bioDescription={titles[0]} fontSize={fontSize} />
	<Bio bioId={ids[1]} bioDescription={titles[1]} fontSize={fontSize} />
</div>